.hero {
    position: relative;
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card--window {
    height: 20rem;
    width: 32rem;
    border-radius: 10px;
    border: 2px solid rgba(179, 179, 179, 0.642);
    transition: .4s transform;
    box-shadow: 2px 2px 5px #d3d3d3;
}


.card--window:hover {
    transform: scale(1.05) rotate(-2deg);
}

.card--w-header {
    height: 12%;
    background: rgba(141, 141, 141, 0.137);
    display: flex;
    align-items: center;
    padding: 12px 5px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(179, 179, 179, 0.642);
}

.header-btn {
    text-decoration: none;
    list-style: none;
    height: 10px;
    width: 10px;
    border-radius: 50rem;
    background: black;
    margin: 0 3px;
}

.card--w-body {
    height: 88%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

.card-img {
    height: 100%;
}

.card-img-i {
    height: 100%;
    box-shadow: 0px 0px 9px #00000070;
    border-radius: 10px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 900;
}

.card-subTitle {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}

.hero-1 {
    width: 30%;
}

.hero-1-title {
    font-size: 3rem;
    /* margin-bottom: 0; */
}

.hero-1-subTitle {
    font-size: 1.1rem;
    color: gray;
}

.hero-1-links {
    margin-bottom: 10px;
}

@media only screen and (max-width: 910px) {
    .card--window {
        width: 30rem;
    }

    .mr-10 {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .card-title {
        font-size: 1.5rem;
    }

    .card--w-body>div {
        text-align: center;
    }
}

/* PHONE SCREEN  */
@media only screen and (max-width: 470px) {
    .hero {
        flex-direction: column-reverse;
        height: 100%;
        padding: 3rem 1rem;
    }

    .hero-1 {
        text-align: center;
    }

    .hero-2 {
        margin-bottom: 30px;
    }

    .hero>* {
        width: 80% !important;
    }

    .card--window {
        width: 100% !important;
    }
}